*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: alumni sans;
}
.container{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: 100vh;
    color: beige;
} 
.swiper-slide img{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
ul{
    width: 100%;
    margin: 0 0 0 250px;
    list-style: none;
}
li:hover{
     transform: translateY(-10px);
}
li{
    float: left;   
}
li a{
    width: 100px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: beige;
    text-align: right;
    transition: transform 0.5s;
}
h1{
    font-size: 80px;
    color: beige;
}
h1 a{
    text-decoration: none;
    color: beige;
    transition: transform 0.5s;
}
h1:hover{
     transform: translateY(-10px);
}
section div img{
    background-color: black;
    width: 400px;
    height: 300px;
    transition: transform 0.5s;
}
section div img:hover{
    transform: translateY(-10px);
}
/*------image-----*/

 section div-col img{
    width: 100%;
    height: 100vh;
}
section img{
    width: 100%;
    height: 100vh;
}
h1{
    font-size: 80px;
    color: beige;
}
h1 a{
    text-decoration: none;
    color: burlywood;
    transition: transform 0.5s;
}
h1:hover{
     transform: translateY(-10px);
}











